<ul>
  {{#each posts as |post|}}
    <li data-id: "{{this.id}}" data-name="{{this.name}}" class='this{{this.id}} hbStyle col-md-12 updatedWk hideBlogClass list-unstyled text-center'>
      <h1>  <small>{{post.title}}</small></h1>
      <div>
        <ul data-id="{{post.id}}" class="post postStats list-unstyled">
          <!-- Blog Info -->
          <div>
            <p>{{post.body}}</p>
            <p>Last Updated: {{date post.updatedAt}}</p>
            <button type="button" class="showBlog{{post.id}} showBlog showBlogButton btn btn-default handle" data-id="{{post.id}}" data-toggle='{{comment.id}}'>Show Full Blog!</button>

          </div>
        </ul>
        <!-- View Comments -->
        <div id="commentBodyDiv" data-id="{{post.id}}" class='commentListShow'>
          {{#each post.comments as |comment|}}
            {{#if comment.body}}
              <!-- View Each Comments -->
              <p class='commentFont'>{{comment.postedByEmail}} commented: {{comment.body}}</p>
              <!-- Not current_user Div to Hide -->
              {{#if comment.editComment}}
              <div class='notCurrentUser'>
                <!-- Delete Comments -->
                <button type="button" class="removeComment btn btn-default handle" data-id="{{post.id}}" data-toggle='{{comment.id}}'>Delete Comment</button>
                <!-- Update Comments Button to show div -->
                <button data-id="{{comment.id}}" type="button" class="updateCommentButton btn btn-default handle">Update Comment</button>
                <!-- Update Comments Form -->

                <div data-id="{{comment.id}}" data-toggle="{{post.id}}" id="updateForm{{comment.id}}" class='updateForm{{comment.id}}' style="display: none;">
                  <form data-id="{{post.id}}" data-toggle='{{comment.id}}' class="comment updateComment signedInComment">
                    <fieldset>
                      <textarea id="submitComment" class="comment updateComment" rows="2" cols="40" maxlength="100" name='comment[body]' placeholder='Update Comment' required></textarea>
                      <p class="textarea-notes">*NOTE: Updating will return you to all blogs upon success.</p>
                      <input type="submit" name="submit" value="Save Update">
                      <button data-id="{{comment.id}}" type="button" class="updateCommentButtonHide btn btn-xs handle">Cancel</button>
                    </fieldset>
                  </form>
                </div>
              </div>
              {{/if}}
              <br>
            {{/if}}
          {{/each}}
          <!-- Add comment  -->
          <!-- if comment.posted by === store.user.id (pass user into handlebars)  -->
          <form data-id="{{post.id}}" class="comment add-comment addComment signedInComment">
            <fieldset>
              <textarea id="submitComment" class="blogfield addComment" rows="2" cols="40" maxlength="200" name='comment[body]' placeholder='Add Comment' required></textarea>
              <p class="textarea-notes">*NOTE: Upon commenting you will be returned to the list of all blogs.</p>
              <input type="submit" name="submit" value="addComment">
            </fieldset>
          </form>
        </div>
        </div>
      <hr>
    </li>
  {{/each}}

</ul>
