<ul>
  {{#each posts as |post|}}
    <li data-id: "{{this.id}}" data-name="{{this.name}}" class='this{{this.id}} hbStyle col-md-12 updatedWk list-unstyled text-center'>
      <h1>  <small>{{post.title}}</small></h1>
      <div>
        <ul data-id="{{post.id}}" class="post postStats list-unstyled">
          <!-- Blog Info -->
          <div>
            <!-- <p>Title: {{post.title}}</p> -->
            <p>{{post.body}}</p>
            <p>Last Updated: {{date post.updatedAt}}</p>

          </div>
        </ul>
        <!-- View Comments -->
        <div id="commentBodyDiv" data-id="{{post.id}}">
          {{#each post.comments as |comment|}}
          {{#if comment.body}}
          <!-- View Each Comments -->
          <p>{{comment.postedByEmail}} commented: {{comment.body}}
          <!-- Delete Comments -->
          <button type="button" class="removeComment btn btn-default handle" data-id="{{post.id}}" data-toggle='{{comment.id}}'>Delete Comment</button></p><br>
          <!-- Update Comments -->
          <div>
          <button type="button" class="updateComment btn btn-default handle" >Update Comment</button></p>
          <form data-id="{{post.id}}" data-toggle='{{comment.id}}' class="comment updateComment signedInComment">
            <fieldset>
              <textarea id="submitComment" rows="2" cols="40" maxlength="100" name='comment[body]' placeholder='Update Comment' required></textarea>
              <input type="submit" name="submit" value="Save Update">
          </fieldset>
        </form>
        </div>
        <br>
          {{/if}}
          {{/each}}
        </div>
        <!-- Add comment  -->
        <!-- if comment.posted by === store.user.id (pass user into handlebars)  -->
        <form data-id="{{post.id}}" class="comment add-comment addComment signedInComment">
          <fieldset>
            <textarea id="submitComment" class="blogfield" rows="2" cols="40" maxlength="100" name='comment[body]' placeholder='Add Comment' required></textarea>
            <input type="submit" name="submit" value="addComment">
        </fieldset>
        </form>
      </div>
      <hr>
    </li>
  {{/each}}

</ul>
