{{#each posts as |post|}}
    {{#if post.title}}
  <!-- Don't uncomment yet -->

    <li data-id: "{{post.id}}" data-name="{{post.name}}" class='this{{this.id}} hbStyle col-md-12 updatedWk list-unstyled text-center'>
      <h1>  <small>{{post.title}}</small></h1>
      <div>
        <ul data-id="{{post.id}}" class="post postStats list-unstyled">
          <!-- Blog Info -->
          <div>
            <!-- <p>Title: {{post.title}}</p> -->
            <p>{{post.body}}</p>
            <p>Last Updated: {{date post.updatedAt}}</p>

          </div>
        </ul>
        <button type="button" class="update btn btn-primary handle" data-toggle="modal" data-target="#updatepostmodal{{post.id}}">Update Blog</button>
        <button type="button" class="remove btn btn-default handle" data-toggle="modal" data-target="#removepostmodal{{post.id}}">Remove Blog</button>
      </li>
      <div id="commentBodyDiv" data-id="{{post.id}}">
        <p>{{post.comments.body}}</p>
      </div>
      </div>
      <hr>
    </li>

      <div class="modal fade update-post-modal" id="updatepostmodal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update Blog</h5>
            </div>
            <div class="modal-body">
            <form class="update-post" data-id="{{post.id}}">
              <fieldset>
                <textarea id="updateTitle" class="blogfield" rows="2" cols="40" maxlength="100" name='post[title]' placeholder='Update Title' value ="{{post.title}}" required>{{post.title}}</textarea>
                <br>
                <textarea id="updateBody" class="blogfield" rows="10" cols="40" maxlength="500" name='post[body]' placeholder='Update Body' value ="{{post.body}}" required>{{post.body}}</textarea>
                <br>
                <p class="textarea-notes">*NOTE: Return key is disabled in text areas.</p>
                <p class="textarea-notes">Max Character Lengths: Title (100), Body (500).</p>
                <p class="textarea-notes">All fields are required.</p>
                <input data-id="{{post.id}}" type="submit" name="submit" value="Update Blog">
            </fieldset>
            </form>
            </div>
            <div class="modal-footer">
              <div class="updateerror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="removepostmodal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to remove item?</h5>
            </div>
            <div class="modal-body">
              <form class="remove-post" data-id="{{post.id}}">
                <fieldset>
                  <legend>{{post.title}}</legend>
                  <input type="submit" name="submit" value="Remove Blog">
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <div class="passworderror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    {{/if}}
  </div>
{{/each}}
