{{#each pages as |page|}}
{{#if page.title}}

  <!-- Don't uncomment yet -->

  <div class='container text-center'>
        <div class='{{page.template}} col-md-4'>{{page.title}}
          <br><br>
          <p>{{page.body}} </p>
          <p>{{page.footer}}</p>
          <button type="button" class="update btn btn-primary handle" data-toggle="modal" data-target="#updatepagemodal{{page.id}}">Update Page</button>
          <button type="button" class="remove btn btn-default handle" data-toggle="modal" data-target="#removepagemodal{{page.id}}">Remove Page</button>
      </div>
    </div>

      <div class="modal fade update-page-modal" id="updatepagemodal{{page.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update Page</h5>
            </div>
            <div class="modal-body">
            <form class="update-page" data-id="{{page.id}}">
              <fieldset>
                <input type='text' name='page[title]' id ='updateTitle' placeholder="Updated Title" value ="{{page.title}}" required>
                <input type='text' name='page[body]' id ='updateBody' placeholder="Updated Body" value ="{{page.body}}" required>
                <input type='text' name='page[footer]' id ='updateFooter' placeholder="Updated Footer" value ="{{page.footer}}" required>
                <label for="create-body-confirmation">Background-Color</label>
                <select name="page[background]">
                  {{#dropdown page.background}}
                  <option value="default-white">Default (White)</option>
                  <option value="red">Red</option>
                  <option value="blue">Blue</option>
                  <option value="green">Green</option>
                  {{/dropdown}}
                </select>
                <input data-id="{{page.id}}" type="submit" name="submit" value="Update Page">
            </fieldset>
            </form>
            </div>
            <div class="modal-footer">
              <div class="updateerror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="removepagemodal{{page.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to remove item?</h5>
            </div>
            <div class="modal-body">
              <form class="remove-page" data-id="{{page.id}}">
                <fieldset>
                  <legend>{{page.title}}</legend>
                  <input type="submit" name="submit" value="Remove Page">
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <div class="passworderror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
{{/each}}
