{{#each pages as |page|}}
{{#if page.title}}

  <!-- Don't uncomment yet -->

  <div class='container text-center'>
        <div class='{{page.template}} col-md-4'>{{page.title}}
          <br><br>
          <p>{{page.body}} </p>
          <p>{{page.footer}}</p>
          <button type="button" class="update btn btn-primary handle" data-toggle="modal" data-target="#updatepagemodal{{page.id}}">Update Page</button>
          <button type="button" class="remove btn btn-default handle" data-toggle="modal" data-target="#removepagemodal{{page.id}}">Remove Page</button>
        </div>
    </div>
    <br>

      <div class="modal fade update-page-modal" id="updatepagemodal{{page.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update Page</h5>
            </div>
            <div class="modal-body">
            <form class="update-page" data-id="{{page.id}}">
              <fieldset>
                <textarea id="create-page-title" class="pagefield" maxlength="100" rows="2" cols="40" name="page[title]" placeholder="Updated Title" value ="{{page.title}}" required>{{page.title}}</textarea>
                <textarea id="create-page-body" class="pagefield" maxlength="500" rows="15" cols="40" name="page[body]" placeholder="Updated Body" value ="{{page.body}}" required>{{page.body}}</textarea>
                <textarea id="create-page-footer" class="pagefield" maxlength="100" rows="2" cols="40" name="page[footer]" placeholder="Updated Footer" value ="{{page.footer}}" required>{{page.footer}}</textarea>
                <br>
                <label for="create-body-confirmation">Choose Template</label>
                <select name="page[template]">
                  {{#dropdown page.template}}
                  <option value="defaultTemplate">Default</option>
                  <option value="coolTemplate">Cool</option>
                  <option value="fancyTemplate">Fancy</option>
                  {{/dropdown}}
                  <br>
                </select>
                  <br>
                  <p class="textarea-notes">*NOTE: Return key is disabled in text areas.</p>
                  <p class="textarea-notes">Max Character Lengths: Title (100), Body (500), Footer (100).</p>
                  <p class="textarea-notes">All fields are required.</p>
                <input data-id="{{page.id}}" type="submit" name="submit" value="Update Page">
            </fieldset>
            </form>
            </div>
            <div class="modal-footer">
              <div class="updateerror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="removepagemodal{{page.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to remove item?</h5>
            </div>
            <div class="modal-body">
              <form class="remove-page" data-id="{{page.id}}">
                <fieldset>
                  <legend>{{page.title}}</legend>
                  <input type="submit" name="submit" value="Remove Page">
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <div class="passworderror"></div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
{{/each}}
